@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bedfe8;
}

.accordion{
max-width: 800px;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px ;
}

.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background-color: #2694af;
    color: #fff;
    cursor: pointer;
}

.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 20%;
    right: 20px;
    transform: (-50%);
    font-size: 1.5rem;
}

.accordion .contentBx.active .label::before{
    content: '-';
}


.accordion .contentBx .content{
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content{
height: 150px;
padding: 10px;
}

